$main-kids-color: #F94F4C;
$main-kids-d-color: #D44141;
$main-teenager-color: #00B9C4;
$main-teenager-d-color: #00929A;
$active-color: #FFC830;
$active-d-color: #EEB20B;
$text-color: #2B292D;
$text-l-color: #5B5664;
$text-white-color: rgb(224, 223, 223);
$text-l-40-color: rgba(91, 86, 100, 0.4);
$line-color: #F7F7F9;
$line-d-color: rgb(221, 221, 223);
$background-color: #FFFFFF;
$background-d-color: rgba(238, 238, 238, 0.767);
$facebook-color: #3B5998;
$twitter-color: #1DA1F2;
$google-color: #DB4437;

$header-padding: 15px;


