.header {
    padding: 125px 10%;
    background-image: url('../image/header__img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__category {
        margin: 0;
        @include heading3(regular);
        text-transform: uppercase;
        color: $active-color;
    }

    &__title {
        width: 50%;
        margin: 10px 0;
        @include heading1(extra);
        color: $background-color; 
    }

    &__wrapper {
        display: flex;
        margin-top: 20px;
    }

    &__btn {
        margin-right: 15px;
    }

    &__info {
        color: $text-white-color;
    }
}